*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 270px;
    height: 550px;
    border: 3px solid #000000;
    border-radius: 35px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column; 
}
.container{
    width: 88%;
}
.head-section{
    margin: 11px 0 25px 0;
}
.section-2{
    margin:30px 0 10px 0;
}
.icon{
    display: flex;
    justify-content: space-between;
    margin: 0 2px 12px 3px;
}
.search-bar{
    height: 23px;
    background-color: #fdfdfd;
    border: 1.5px solid #858484;
    border-radius: 18px;
    display: flex;
    align-items: center;
}
.search-bar img, .search-bar font{
    margin-left: 7px;
}
.text{
    margin-bottom: 13px;
}
.image, .rectangle{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.rectangle-1, .rectangle-2{  
    width: 100%;
    height: 80px;
    background-color: #F1C232;
    border: none;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.rectangle-2{
    margin-left: 13px;
    border-radius: 15px;
}
.fa-book-open{
    font-size: 30px;
    color: #38761D;
}
.img-1, .img-2{
    display: flex;
    flex-direction: column;
}
.img-2{
    margin-left: 13px;
}
.img-1 img, .img-2 img{
    width: 111px;
    height: 85px;
    margin-bottom: 12px;
}
#line{
    margin-top: 5px;
    height: 2px;
    background-color: #a2c4c9;
}
#title{
    color: #073763;
    font-size: 16px;
    font-weight: 550;
}
#describtion{
    color: #666666;
    font-size: 9px;
    font-weight: 550;
    margin-bottom: 8px;
}
footer{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
footer .home, footer .chat, footer .user, footer .phone{
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
i{
    font-size: 20px;
    margin-bottom: 5px ;
}
#home, #chats, #people, #calls{
    font-size: 11px;
}
.fa-phone, .fa-user-group{
    font-weight: lighter;
}
.fa-house{
    color: #2B78E4;
}
#home{
    color: #2B78E4;
}