* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.text-menu {
  font-family: "Montserrat";
  font-weight: normal;
  font-size: 10px;
}
svg {
  margin-left: 8px;
  width: 16px;
  height: 16px;
  float: left;
}
